.suggestionSection h1 {
  font-size: 14px;
  margin-bottom: 12px;
  margin-top: 20px;
  font-weight: bold;
}


.sugest {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}


.perfil {
  display: flex;
  align-items: center;
}


.photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.sugest p {
  margin-left: 10px;
  font-size: 14px;
  font-weight: bold;
  color: inherit;

}


.sugest button {
  background: none;
  border: none;
  color: #0095f6;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.sugest button:hover {
  color: #1877f2;
}
