@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.allPost{

    font-size: 14px;

    background-color: rgba(0, 0, 255, 0.473);

}

.postFirstPiece{


    background-color: cornflowerblue;


}

.imageSection{


    position: relative;

    width: 468px;
    height: 585px;

    background-color: rgba(46, 139, 86, 0.493);


}

.publisherInformation{
    display: flex;

    position: absolute;

    width: 100%;
    height: 100%;


    background-color: coral;
    z-index:2;

    & .perfilImage{


        width: 24px;
        height: 24px;

        background-color: greenyellow;

        border-radius: 20px;

    }

    & .postPublisherInformation{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;

        width: 100%;

        background-color: magenta;
    }

    & .moreOptionsSection{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        position: relative;
        
        top: 2%;
        right: 2%;

        width: 28px;
        height: 28px;


    }

    & .markersProfilesSection{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        position: absolute;
        
        bottom: 2%;
        left: 2%;

        width: 28px;
        height: 28px;


        background-color: #2B303680;

    }

    & .audioStatusSection{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        position: absolute;
        
        bottom: 2%;
        right: 2%;

        width: 28px;
        height: 28px;


        background-color: #2B303680;




    }


}