
/* Suggestion container */
.container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.container h2 {
  margin-top: 10vh;
  display: flex;
  padding: 8px 22vw;
  justify-content: start;
  font-size: 15px;
}

.sugest {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 22vw;

}

.photo {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.sugest button {
  background: none;
  color: #4d4dff;
  border: none;
}

.sugest button:hover {
  color: #6b6bff;
}

.perfil {
  display: flex;
  align-items: center;
}

.sugest p {
  font-weight: bold;
  font-size: 12px;
  margin: 0 10px;
}
