
.allPageContent{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;


  width: 100dvw;
  /* width: calc( 100% - (630px + 383px)); */


  overflow-y:scroll;
  overflow-x: none;

  /* background-color: blueviolet; */


}

.primaryContent{

  width: 630px;
  height: 100%;

  /* background-color: firebrick; */

}

.thirdJunction{
  padding-inline-start: 64px;


  /* background-color: purple; */

}



