<<<<<<< HEAD
=======
/* .counter {
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--accent);
  background: var(--accent-bg);
  border: 2px solid transparent;
  transition: border-color 0.3s;
  margin-bottom: 24px;
>>>>>>> sidebar

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}


.layout {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 20px;
}


.inicio {
  width: 600px;
}


<<<<<<< HEAD
.sugestao {
  width: 300px;
  margin-top: 50px;
=======
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: -4.5px;
    border: 5px solid transparent;
  }

  &::before {
    left: 0;
    border-left-color: var(--border);
  }
  &::after {
    right: 0;
    border-right-color: var(--border);
  }
} */


.allPageContent{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;


  width: 100dvw;
  /* width: calc( 100% - (630px + 383px)); */


  overflow-y:scroll;
  overflow-x: none;

  /* background-color: blueviolet; */


}

.primaryContent{

  width: 630px;
  height: 100%;

  background-color: firebrick;

}

.thirdJunction{
  padding-inline-start: 64px;


  /* background-color: purple; */

>>>>>>> sidebar
}


.sugestao h1 {
  font-size: 14px;
  color: #a8a8a8;
  margin-bottom: 15px;
}


.sugest {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}


.perfil {
  display: flex;
  align-items: center;
}


.photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.sugest p {
  margin-left: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}


.sugest button {
  background: none;
  border: none;
  color: #0095f6;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.sugest button:hover {
  color: #1877f2;
}

