
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



*{
  box-sizing: border-box;
  
}

html{

  width: 100%;
  height: 100dvh;

}

body{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  width: 100%;
  height: 100dvh;

  font-family: 'Roboto', sans-serif;

  color: black;

  background-color: #eaeaea;

  & #root{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

/*     
    & .allPageContent{


      width: 500px;


      background-color: blueviolet;


    } */
  
  }


}




